In [ ]:
#Assignment 3: Transforming CSV Data into a MySQL Relational Database

In [ ]:
#1. Understanding the Columns:

In [ ]:
 import pandas as pd

# Load the CSV file into a DataFrame
csv_file_path = "/content/india-state-wise-data-analysis.csv"
df = pd.read_csv(csv_file_path)

# Display the column names
print("Column Names:")
print(df.columns)

# Display the first few rows of the dataset to get a sense of the data
print("\nSample Data:")
print(df.head())

# Get data types of each column
print("\nData Types:")
print(df.dtypes)

# Basic statistics for numeric columns (if any)
print("\nBasic Statistics for Numeric Columns:")
print(df.describe())

# Count unique values in categorical columns
print("\nUnique Values in Categorical Columns:")
categorical_columns = df.select_dtypes(include=['object'])
for column in categorical_columns:
    print(f"{column}: {df[column].nunique()} unique values")

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Column Names:
Index(['State & District', 'Population', 'Male', 'Female', 'Literate',
       'Male_Literate', 'Female_Literate', 'SC', 'Male_SC', 'Female_SC', 'ST',
       'Male_ST', 'Female_ST', 'Workers', 'Male_Workers', 'Female_Workers',
       'Main_Workers', 'Marginal_Workers', 'Non_Workers', 'Cultivator_Workers',
       'Agricultural_Workers', 'Household_Workers', 'Other_Workers', 'Hindus',
       'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains',
       'Others_Religions', 'Religion_Not_Stated', 'LPG_or_PNG_Households',
       'Housholds_with_Electric_Lighting', 'Households_with_Internet',
       'Households_with_Computer', 'Rural_Households', 'Urban_Households',
       'Households', 'Below_Primary_Education', 'Primary_Education',
       'Middle_Education', 'Secondary_Education', 'Higher_Education',
       'Graduate_Education', 'Other_Education', 'Literate_Education',
       'Illiterate_Education', 'Total_Education', 'Age_Group_0_29',
       'Age_Group_30_49', 'Age_Group_50'],
      dtype='object')

Sample Data:
                                    State & District  Population    Male  \
0  district_code:1, state_name:JAMMU AND KASHMIR,...      870354  474190
1  district_code:2, state_name:JAMMU AND KASHMIR,...      753745  398041
2  district_code:3, state_name:JAMMU AND KASHMIR,...      133487   78971
3  district_code:4, state_name:JAMMU AND KASHMIR,...      140802   77785
4  district_code:5, state_name:JAMMU AND KASHMIR,...      476835  251899

   Female  Literate  Male_Literate  Female_Literate    SC  Male_SC  Female_SC  \
0  396164    439654         282823           156831  1048     1046          2
1  355704    335649         207741           127908   368      343         25
2   54516     93770          62834            30936   488      444         44
3   63017     86236          56301            29935    18       12          6
4  224936    261724         163333            98391   556      406        150

   ...  Secondary_Education  Higher_Education  Graduate_Education  \
0  ...                74948             39709               21751
1  ...                66459             41367               27950
2  ...                16265              8923                6197
3  ...                16938              9826                3077
4  ...                46062             29517               13962

   Other_Education  Literate_Education  Illiterate_Education  Total_Education  \
0             6402              405015                289765           694780
1             6857              374972                342646           717618
2              575               75493                 32637           108130
3              408               82938                 39854           122792
4             1884              288430                164044           452474

   Age_Group_0_29  Age_Group_30_49  Age_Group_50
0          600759           178435         89679
1          503223           160933         88978
2           70703            41515         21019
3           87532            35561         17488
4          304979           109818         61334

[5 rows x 51 columns]

Data Types:
State & District                    object
Population                           int64
Male                                 int64
Female                               int64
Literate                             int64
Male_Literate                        int64
Female_Literate                      int64
SC                                   int64
Male_SC                              int64
Female_SC                            int64
ST                                   int64
Male_ST                              int64
Female_ST                            int64
Workers                              int64
Male_Workers                         int64
Female_Workers                       int64
Main_Workers                         int64
Marginal_Workers                     int64
Non_Workers                          int64
Cultivator_Workers                   int64
Agricultural_Workers                 int64
Household_Workers                    int64
Other_Workers                        int64
Hindus                               int64
Muslims                              int64
Christians                           int64
Sikhs                                int64
Buddhists                            int64
Jains                                int64
Others_Religions                     int64
Religion_Not_Stated                  int64
LPG_or_PNG_Households                int64
Housholds_with_Electric_Lighting     int64
Households_with_Internet             int64
Households_with_Computer             int64
Rural_Households                     int64
Urban_Households                     int64
Households                           int64
Below_Primary_Education              int64
Primary_Education                    int64
Middle_Education                     int64
Secondary_Education                  int64
Higher_Education                     int64
Graduate_Education                   int64
Other_Education                      int64
Literate_Education                   int64
Illiterate_Education                 int64
Total_Education                      int64
Age_Group_0_29                       int64
Age_Group_30_49                      int64
Age_Group_50                         int64
dtype: object

Basic Statistics for Numeric Columns:
         Population          Male        Female      Literate  Male_Literate  \
count  6.400000e+02  6.400000e+02  6.400000e+02  6.400000e+02   6.400000e+02
mean   1.891961e+06  9.738598e+05  9.181011e+05  1.193186e+06   6.793182e+05
std    1.544380e+06  8.007785e+05  7.449864e+05  1.068583e+06   5.924144e+05
min    8.004000e+03  4.414000e+03  3.590000e+03  4.436000e+03   2.614000e+03
25%    8.178610e+05  4.171682e+05  4.017458e+05  4.825982e+05   2.764365e+05
50%    1.557367e+06  7.986815e+05  7.589200e+05  9.573465e+05   5.483525e+05
75%    2.583551e+06  1.338604e+06  1.264277e+06  1.602260e+06   9.188582e+05
max    1.106015e+07  5.865078e+06  5.195070e+06  8.227161e+06   4.591396e+06

       Female_Literate            SC       Male_SC     Female_SC  \
count     6.400000e+02  6.400000e+02  6.400000e+02  6.400000e+02
mean      5.138675e+05  3.146537e+05  1.617739e+05  1.528798e+05
std       4.801816e+05  3.129818e+05  1.611216e+05  1.520336e+05
min       1.822000e+03  0.000000e+00  0.000000e+00  0.000000e+00
25%       2.008920e+05  8.320850e+04  4.230700e+04  4.267175e+04
50%       4.038590e+05  2.460160e+05  1.255485e+05  1.178550e+05
75%       6.641550e+05  4.477078e+05  2.284602e+05  2.140502e+05
max       3.635765e+06  2.464032e+06  1.266504e+06  1.197528e+06

                 ST  ...  Secondary_Education  Higher_Education  \
count  6.400000e+02  ...         6.400000e+02      6.400000e+02
mean   1.633527e+05  ...         2.051046e+05      1.241736e+05
std    2.503501e+05  ...         2.164778e+05      1.304154e+05
min    0.000000e+00  ...         8.090000e+02      6.560000e+02
25%    7.312000e+03  ...         7.078575e+04      4.234700e+04
50%    6.109500e+04  ...         1.523325e+05      8.998700e+04
75%    2.195518e+05  ...         2.629160e+05      1.583555e+05
max    1.580850e+06  ...         2.018079e+06      1.196965e+06

       Graduate_Education  Other_Education  Literate_Education  \
count        6.400000e+02        640.00000        6.400000e+02
mean         1.090132e+05      16096.61250        1.275159e+06
std          1.502260e+05      21425.82129        1.133411e+06
min          3.560000e+02         15.00000        4.926000e+03
25%          2.799200e+04       3850.75000        5.032555e+05
50%          6.624350e+04       9514.00000        1.017248e+06
75%          1.299488e+05      19951.75000        1.718576e+06
max          1.733274e+06     198399.00000        8.886074e+06

       Illiterate_Education  Total_Education  Age_Group_0_29  Age_Group_30_49  \
count          6.400000e+02     6.400000e+02    6.400000e+02     6.400000e+02
mean           5.786784e+05     1.853838e+06    1.102826e+06     4.820189e+05
std            4.887864e+05     1.511039e+06    8.887434e+05     4.183230e+05
min            2.185000e+03     7.111000e+03    5.113000e+03     2.088000e+03
25%            2.142040e+05     7.956865e+05    4.786540e+05     2.101965e+05
50%            4.529330e+05     1.518162e+06    8.896820e+05     3.905085e+05
75%            7.833772e+05     2.556385e+06    1.491204e+06     6.525142e+05
max            3.031841e+06     1.019012e+07    6.184519e+06     3.241888e+06

       Age_Group_50
count  6.400000e+02
mean   3.001005e+05
std    2.549556e+05
min    7.860000e+02
25%    1.193285e+05
50%    2.421020e+05
75%    4.045875e+05
max    1.921143e+06

[8 rows x 50 columns]

Unique Values in Categorical Columns:
State & District: 640 unique values

Missing Values:
State & District                    0
Population                          0
Male                                0
Female                              0
Literate                            0
Male_Literate                       0
Female_Literate                     0
SC                                  0
Male_SC                             0
Female_SC                           0
ST                                  0
Male_ST                             0
Female_ST                           0
Workers                             0
Male_Workers                        0
Female_Workers                      0
Main_Workers                        0
Marginal_Workers                    0
Non_Workers                         0
Cultivator_Workers                  0
Agricultural_Workers                0
Household_Workers                   0
Other_Workers                       0
Hindus                              0
Muslims                             0
Christians                          0
Sikhs                               0
Buddhists                           0
Jains                               0
Others_Religions                    0
Religion_Not_Stated                 0
LPG_or_PNG_Households               0
Housholds_with_Electric_Lighting    0
Households_with_Internet            0
Households_with_Computer            0
Rural_Households                    0
Urban_Households                    0
Households                          0
Below_Primary_Education             0
Primary_Education                   0
Middle_Education                    0
Secondary_Education                 0
Higher_Education                    0
Graduate_Education                  0
Other_Education                     0
Literate_Education                  0
Illiterate_Education                0
Total_Education                     0
Age_Group_0_29                      0
Age_Group_30_49                     0
Age_Group_50                        0
dtype: int64